<div id="title">
    <h1>{{title}}</h1>
    <hr>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<div id="about">
    <h2>Sobre mi</h2>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis velit posuere, congue odio in, semper lacus. Vestibulum at congue lorem. Proin nunc libero, tempor at purus vel, placerat facilisis nisl. Cras eros felis, elementum a lectus vitae, gravida hendrerit tellus. Donec ullamcorper sed felis eu pellentesque. Praesent non tincidunt justo. Ut accumsan tellus sed rutrum posuere. In nec quam quis orci pellentesque porttitor. Curabitur dictum condimentum quam at fermentum. Etiam interdum, diam eget placerat scelerisque, ipsum sapien finibus nisi, ac accumsan velit justo ac risus. Pellentesque interdum augue leo, vel auctor orci fermentum vel. Proin non tempus enim, eu volutpat nunc. Suspendisse eu cursus sem, quis congue tortor. Nulla nec porttitor nibh. Sed semper porttitor nisi, eget mollis massa maximus id.
        <br>
        Sed ultrices ut magna quis lobortis. Etiam sem mi, rhoncus ac fringilla in, malesuada vitae libero. Phasellus sem nibh, interdum ac sapien eget, varius aliquam enim. Morbi sagittis orci magna, in auctor turpis luctus at. Duis ac nunc et dolor ullamcorper interdum. Suspendisse semper eget dui ut venenatis. Praesent tellus ante, rutrum sit amet ligula vitae, tempus pretium diam. Proin egestas volutpat nisi, sit amet bibendum leo fringilla sit amet. Donec non fringilla lorem.
        <br>
        Cras sed sodales nisl, eu suscipit leo. Morbi eget lobortis leo. Fusce blandit purus a rutrum pretium. Morbi fringilla sem ac dui bibendum, vel viverra quam tristique. In interdum libero sed malesuada facilisis. Donec id sapien at orci vulputate cursus. Aliquam vel leo a ante consequat dignissim. Nulla eu nulla ac lorem iaculis ullamcorper. Quisque a euismod tortor. Fusce gravida lorem felis, ut ornare sapien mollis quis. Vestibulum nec diam lobortis, aliquet sem quis, sollicitudin ex. Curabitur posuere ornare dolor, id imperdiet orci fringilla eu.

    </p>
</div>